<!-- wp:template-part {"slug":"header","theme":"bubenheimer-kerbeverein"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"className":"bubenheimer-main-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group bubenheimer-main-content" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:pattern {"slug":"bubenheimer-kerbeverein/hidden-blog-heading"} /-->
	<!-- wp:pattern {"slug":"bubenheimer-kerbeverein/template-query-loop"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"bubenheimer-kerbeverein"} /-->
